        body {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        
        .parede {
            background-image: url("./img/bloco2.png");
            background-position: center;
            background-size: cover;
            width: 4vw;
            height: 6vh;
        }
        
        .espaço,
        .final {
            background-color: white;
            color: white;
            width: 4vw;
            height: 6vh;
            font-size: 0%;
        }
        
        .linha {
            display: flex;
        }
        
        .jog {
            background-image: url("./img/pacMan.png");
            background-size: contain;
            background-repeat: no-repeat;
            width: 40%;
            height: 100%;
            margin-left: 25%;
            margin-top: 10%;
        }
        
        .modal {
            color: white;
            background-color: rgb(230, 245, 17);
            height: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 500px;
            border-radius: 10px;
            border: 5px solid rgb(47, 152, 223);
            position: absolute;
            top: calc(50% - 100px);
        }
        
        .hidden {
            display: none;
        }
        
        h1 {
            margin-top: 50px;
        }
        
        .botao {
            height: 50px;
            width: 200px;
            border-radius: 10px;
            cursor: pointer;
            background-color: rgb(47, 152, 223);
            color: rgb(0, 0, 0);
            border: px solid black color: rgb(5, 0, 0);
            font-size: 23px;
            font-weight: bolder;
        }
        
        .botao:hover {
            background-color: white;
        }